
.title-register{
    color: #92A5FD;
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
}

.title-login{
    color: #92A5FD;
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
}